/* based on warning theme from https://github.com/rust-lang/rust/blob/master/src/librustdoc/html/static/css/rustdoc.css */

:root {
	--info-border-color: #8080ff;
}

.docblock > .info {
	margin: 0 0 .75em 0;
}

p:last-child, .docblock > .info:last-child {
	margin: 0;
}
.content .docblock .info {
	border-left: 2px solid var(--info-border-color);
	padding: 14px;
	position: relative;
	overflow-x: visible !important;
}
.content .docblock .info::before {
	color: var(--info-border-color);
	content: "ⓘ";
	position: absolute;
	left: -25px;
	top: 5px;
	font-weight: bold;
	font-size: 1.25rem;
}
.top-doc > .docblock >.info:first-child::before {
	top: 20px;
}
